use flake

export DB=sqlite
export GOOSE_DRIVER=sqlite3
# export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=$(readlink --canonicalize ./db.sqlite)
# export GOOSE_DBSTRING=postgres://postgres@localhost:5432/unicontentdb?sslmode=disable
export TEST_DBSTRING=$(readlink --canonicalize ./test.sqlite)
export GOOSE_MIGRATION_DIR=$(readlink --canonicalize ./database/migrations/)

